# FinCore Environment Variables
# Copiar este archivo a .env en la raíz del proyecto

# Database
POSTGRES_USER=fincore
POSTGRES_PASSWORD=fincore123
POSTGRES_URL=jdbc:postgresql://localhost:5432/fincore

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis_fincore_2026

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT
JWT_SECRET=fincore_jwt_hs512_secret_minimo_64_caracteres_2026_abel_gomez_banking
JWT_EXPIRATION=86400000

# Services
EUREKA_URL=http://localhost:8761/eureka/
FRONTEND_URL=http://localhost:5173

# Service URLs
AUTH_SERVICE_URL=http://localhost:8081
CUSTOMER_SERVICE_URL=http://localhost:8082
ACCOUNT_SERVICE_URL=http://localhost:8083
LEDGER_SERVICE_URL=http://localhost:8084
TRANSFER_SERVICE_URL=http://localhost:8085
FRAUD_SERVICE_URL=http://localhost:8090
AUDIT_SERVICE_URL=http://localhost:8091
NOTIFICATION_SERVICE_URL=http://localhost:8092
BACKOFFICE_SERVICE_URL=http://localhost:8093
BATCH_SERVICE_URL=http://localhost:8094

# Limits
DAILY_LIMIT=5000.00
TX_LIMIT=2000.00
MONTHLY_LIMIT=20000.00

# Saga
SAGA_TIMEOUT=120
SAGA_MAX_RETRIES=3

# Email
SMTP_FROM=noreply@fincore.banking
