SERVER_PORT=8081
SPRING_APPLICATION_NAME=transfer-service
EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://localhost:8761/eureka/
EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fincore_transfer
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=false
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SPRING_KAFKA_PRODUCER_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER=org.springframework.kafka.support.serializer.JsonSerializer
GRPC_SERVER_PORT=9091
RESILIENCE4J_CIRCUITBREAKER_REGISTER_HEALTH_INDICATOR=true
RESILIENCE4J_CIRCUITBREAKER_SLIDING_WINDOW_SIZE=10
RESILIENCE4J_CIRCUITBREAKER_MINIMUM_NUMBER_OF_CALLS=5
RESILIENCE4J_CIRCUITBREAKER_FAILURE_RATE_THRESHOLD=50
RESILIENCE4J_RETRY_MAX_ATTEMPTS=3
RESILIENCE4J_RETRY_WAIT_DURATION=1000
SPRINGDOC_API_DOCS_PATH=/api-docs
SPRINGDOC_SWAGGER_UI_PATH=/swagger-ui.html