SPRING_APPLICATION_NAME=customer-service
SERVER_PORT=8081

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fincore_customer
DB_USERNAME=fincore_user
DB_PASSWORD=fincore_password

# Eureka
EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://localhost:8761/eureka/

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_CLIENTE_CREADO=cliente-creado
