SPRING_APPLICATION_NAME=notification-service
SERVER_PORT=8080

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=fincore_notification
DB_USERNAME=fincore_user
DB_PASSWORD=fincore_password

# Eureka
EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://localhost:8761/eureka/

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_NOTIFICACION_SOLICITADA=notificacion-solicitada
