SPRING_APPLICATION_NAME=batch-service
SERVER_PORT=8081

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fincore
SPRING_DATASOURCE_USERNAME=fincore_user
SPRING_DATASOURCE_PASSWORD=fincore_password

SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

SPRING_BATCH_JOB_ENABLED=true
SPRING_BATCH_JSTLTER_TYPE=EMBEDDED
SPRING_BATCH_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fincore_batch
SPRING_BATCH_DATASOURCE_USERNAME=fincore_user
SPRING_BATCH_DATASOURCE_PASSWORD=fincore_password

EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://localhost:8761/eureka/

SPRING_DOC_API_DOCS_PATH=/v3/api-docs
SPRING_DOC_SWAGGER_UI_PATH=/swagger-ui.html
