SERVER_PORT=8081
DATASOURCE_URL=jdbc:postgresql://localhost:5432/fincore_audit
DATASOURCE_USERNAME=postgres
DATASOURCE_PASSWORD=postgres
EUREKA_SERVER_URL=http://localhost:8761/eureka
TRACING_SAMPLING_PROBABILITY=1.0
OTLP_METRICS_URL=http://localhost:4318/v1/metrics
OTLP_TRACING_URL=http://localhost:4318/v1/traces
OPENAPI_PATH=/v3/api-docs
SWAGGER_PATH=/swagger-ui.html
