SPRING_APPLICATION_NAME=reporting-service
SERVER_PORT=8099

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fincore
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_SQL_INIT_MODE=never

EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://localhost:8761/eureka/
