SPRING_APPLICATION_NAME=fraud-service
SERVER_PORT=8084

# Base de datos
DB_HOST=${DB_HOST:localhost}
DB_PORT=${DB_PORT:5432}
DB_NAME=${DB_NAME:fincore}
DB_USERNAME=${DB_USERNAME:postgres}
DB_PASSWORD=${DB_PASSWORD:postgres}

# Eureka
EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka}

# Kafka
KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
