SPRING_APPLICATION_NAME=auth-service
SERVER_PORT=8081

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/fincore
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_SQL_INIT_MODE=never

# Eureka
EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://localhost:8761/eureka/

# JWT
JWT_SECRET=change-me-please-change-me-please-change-me
JWT_EXPIRATION_MS=86400000

# Liquibase
SPRING_LIQUIBASE_ENABLED=false
